.imagem{
    display: flex;
    justify-content: center;
}
.imagem img{
    width: 1000px;
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
.container{
    position: absolute;
    background: #fff;
    width: 450px;
    height: 76pc;
    padding: 30px;
    box-shadow: 0px 0px 50px #423f3e44;
}
.container{
    border-radius: 10px;
}
.container .text{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.container form{
    margin-top: -5px;
}
.container form .data{
    height: 40px;
    width: 100%;
    margin: 30px 0;
}
form .data label{
    font-size: 16px;
}
form .data input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 1vh;
    font-size: 18px;
    padding-left: 5px;
    border: #cdd6dd solid 0.50vh;
    border-bottom: #fbc55f solid 0.50vh;
    border-right: #fbc55f solid 0.50vh;
}
form .data input:focus{
    outline: 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
    transform: scale(1.02);
}
input::placeholder{
    font-size: 15px;
    color: #6c757d6b;
    font-weight: 700;
}
.data input{
    border: #cdd6dd solid 0.50vh;
    border-bottom: #fbc55f solid 0.50vh;
    border-right: #fbc55f solid 0.50vh;
}
.control .label{
    font-size: 20px;
}
.control .p{
    margin-top: 15px;
    font-size: 17px;
    margin-bottom: 30px;
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-size: 20px;
    margin-bottom: 20px;
}
.btns{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
button{
    display: flex;
    justify-content: center;
    background: #fbc55f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    align-items: center;
    font-size: 1.2rem;
    color: #333;
    border: 0.2vh solid black;
    border-radius: 0.8vh;
    box-shadow: 0.1em 0.1em #333;
    cursor: pointer;
    margin: 10px;
    height: 40px;
}
button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.12em 0.12em #333;
}
button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #333;
}
button a{
    color: #333;
    text-decoration: none;
}
.data select{
    font-size: 15px;
    border-radius: 1vh;
    border: #cdd6dd solid 0.50vh;
    border-bottom: #fbc55f solid 0.50vh;
    border-right: #fbc55f solid 0.50vh;
}
.data select:focus{
    outline: 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
}
.data2{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px 0;
}
.data2 input{
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-radius: 1vh;
    font-size: 18px;
    padding-left: 5px;
    border: #cdd6dd solid 0.50vh;
    border-bottom: #fbc55f solid 0.50vh;
    border-right: #fbc55f solid 0.50vh;
}
.data2 input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 1vh;
    font-size: 18px;
    padding-left: 5px;
    border: #cdd6dd solid 0.50vh;
    border-bottom: #fbc55f solid 0.50vh;
    border-right: #fbc55f solid 0.50vh;
}
.data2 input:focus{
    outline: 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
    transform: scale(1.02);
}
/*scrollbar*/
body::-webkit-scrollbar {
    width: 13px;
}
body::-webkit-scrollbar-thumb {
    background-color: #adb5bd;    
    border-radius: 5px;
}
body::-webkit-scrollbar-track {
    background: #e9ecef;     
}