.center{
    display: flex;
    justify-content: center;
    margin-bottom: 30vh;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5vh;
    width: 30%;
}
.img img{
    display: flex;
    justify-content: center;
    width: 450px;
    height: 300px;
    border-radius: 2vh;
    border-top: #2b2d42 solid 0.40vh; border-left:#2b2d42 solid 0.20vh;
    border-right:#2b2d42 solid 0.60vh; border-bottom: #2b2d42 solid 0.20vh;    
}
.conteudo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    margin-top: 4vh;
    margin-left: 2vh;
}
.desc-conteudo{
    color: #212529;
    width: 100%;
    height: 90%;
}
.nome-ong{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: #212529;
    font-weight: 600;
}
.desc-vaga, .nome-vaga{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000000;
    justify-content: flex-start;
    margin-left: 2vh;
}
.desc-vaga{
    border-radius: 2vh 0vh;
    border-top: #2b2d42 0.50vh solid;
    border-left: #2b2d42 0.50vh solid;
}
.nome-vaga p{
    font-size: 2rem;
    font-weight: 600;
}
.sobre-vaga p{
    font-size: 2rem;
}
.desc-vaga p{
    font-size: 1.2rem;
    height: 20pc;
    text-align: left;
    font-style: oblique;
    color: #212529;
    margin: 5px;
}
button{
    display: flex;
    justify-content: center;
    background: #fbc55f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    align-items: center;
    font-size: 1.2rem;
    color: #212529;
    border: 0.2vh solid black;
    border-radius: 0.8vh;
    box-shadow: 0.1em 0.1em #333;
    cursor: pointer;
    margin-top: 0px;
    height: 40px;
}
.conteudo .btn{
    display: flex;
    justify-content: center;
    margin-left: 2vh;
    margin-top: 2vh;
    justify-content: last baseline;
}
.btn button{
    margin-bottom: 5px;
}
button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.12em 0.12em #333;
}
button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #333;
}
#enviar a{
    color: #333;
    text-decoration: none;
}